body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 300px;
	height: 250px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
background-color: #ff6600;
width: 9px;
height: 100%;
}


div#logo {
	width: 84px;
	top: 14px;
	left: 21px;
	z-index: 1;
}

#c2_a_2x {
	left:19px;
	top:51px;
	width:216px;
	height:122px;
	background-image:url(../img/c2_a_2x.png);
	background-size:216px 122px;
}

#c2_c_2x {
	left:20px;
	top:184px;
	width:216px;
	height:13px;
	background-image:url(../img/c2_c_2x.png);
	background-size:216px 13px;
}

#ctaArr_2x {
	left:276px;
	top:217px;
	width:10px;
	height:7px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:10px 7px;
}

#cta_2x {
	left:197px;
	top:214px;
	width:73px;
	height:11px;
	background-image:url(../img/cta_2x.png);
	background-size:73px 11px;
}

#legal_2x {
	left:81px;
	top:231px;
	width:205px;
	height:9px;
	background-image:url(../img/legal_2x.png);
	background-size:205px 9px;
}



#test {
	left:21px;
	top:16px;
	width:177px;
	height:31px;
	background-image:url(../img/test.png);
}