body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 1024px;
	height: 766px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
	background-color: #ff6600;
	width: 15px;
	height: 100%;
}


div#logo {
	width: 119px;
    top: 12px;
    left: 38px;
    z-index: 1;
}

#c2_a_2x {
	left:197px;
	top:13px;
	width:656px;
	height:26px;
	background-image:url(../img/c2_a_2x.png);
	background-size:656px 26px;
}

#c2_c_2x {
	left:195px;
	top:42px;
	width:308px;
	height:18px;
	background-image:url(../img/c2_c_2x.png);
	background-size:308px 18px;
}

#ctaArr_2x {
	left:994px;
	top:20px;
	width:16px;
	height:13px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:16px 13px;
}

#cta_2x {
	left:896px;
	top:20px;
	width:92px;
	height:13px;
	background-image:url(../img/cta_2x.png);
	background-size:92px 13px;
}

#legal_2x {
	left:756px;
	top:46px;
	width:254px;
	height:11px;
	background-image:url(../img/legal_2x.png);
	background-size:254px 11px;
}