body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 970px;
	height: 250px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
	background-color: #ff6600;
	width: 18px;
	height: 100%;
}

div#logo {
    width: 173.9px;
    top: 11.2px;
    left: 45.7px;
    z-index: 1;
}

#c2_a_2x {
	left:42px;
	top:89px;
	width:652px;
	height:87px;
	background-image:url(../img/c2_a_2x.png);
	background-size:652px 87px;
}

#c2_c_2x {
	left:46px;
	top:192px;
	width:478px;
	height:28px;
	background-image:url(../img/c2_c_2x.png);
	background-size:478px 28px;
}

#ctaArr_2x {
	left:923px;
	top:158px;
	width:22px;
	height:18px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:22px 18px;
}

#cta_2x {
	left:791px;
	top:158px;
	width:123px;
	height:17px;
	background-image:url(../img/cta_2x.png);
	background-size:123px 17px;
}

#legal_2x {
	left:627px;
	top:200px;
	width:318px;
	height:14px;
	background-image:url(../img/legal_2x.png);
	background-size:318px 14px;
}