body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 160px;
	height: 600px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
	background-color: #ff6600;
	width: 3px;
	height: 100%;
}

div#logo {
    width: 105px;
    top: 10px;
    left: 11px;
    z-index: 1;
}

#c2_a_2x {
	left:12px;
	top:169px;
	width:135px;
	height:160px;
	background-image:url(../img/c2_a_2x.png);
	background-size:135px 160px;
}

#c2_c_2x {
	left:12px;
	top:349px;
	width:110px;
	height:53px;
	background-image:url(../img/c2_c_2x.png);
	background-size:110px 53px;
}

#ctaArr_2x {
	left:92px;
	top:539px;
	width:13px;
	height:10px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:13px 10px;
}

#cta_2x {
	left:15px;
	top:539px;
	width:72px;
	height:10px;
	background-image:url(../img/cta_2x.png);
	background-size:72px 10px;
}

#legal_2x {
	left:13px;
	top:560px;
	width:124px;
	height:23px;
	background-image:url(../img/legal_2x.png);
	background-size:124px 23px;
}
