body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 728px;
	height: 90px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
	background-color: #ff6600;
	width: 9.5px;
	height: 100%;
}

div#logo {
    width: 93.5px;
    top: 27.6px;
    left: 21.6px;
    z-index: 1;
}

#c2_a_2x {
	left:129px;
	top:12px;
	width:353px;
	height:48px;
	background-image:url(../img/c2_a_2x.png);
	background-size:353px 48px;
}

#c2_c_2x {
	left:128px;
	top:67px;
	width:294px;
	height:17px;
	background-image:url(../img/c2_c_2x.png);
	background-size:294px 17px;
}

#ctaArr_2x {
	left:705px;
	top:50px;
	width:13px;
	height:12px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:13px 12px;
}

#cta_2x {
	left:616px;
	top:50px;
	width:82px;
	height:12px;
	background-image:url(../img/cta_2x.png);
	background-size:82px 12px;
}

#legal_2x {
	left:503px;
	top:73px;
	width:216px;
	height:10px;
	background-image:url(../img/legal_2x.png);
	background-size:216px 10px;
}