body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 300px;
	height: 600px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
background-color: #ff6600;
width: 8px;
height: 100%;
}

div#logo {
    width: 104px;
    top: 27px;
    left: 25px;
	z-index: 1;
}

#c2_a_2x {
	left:25px;
	top:108px;
	width:248px;
	height:269px;
	background-image:url(../img/c2_a_2x.png);
	background-size:248px 269px;
}

#c2_c_2x {
	left:26px;
	top:396px;
	width:238px;
	height:44px;
	background-image:url(../img/c2_c_2x.png);
	background-size:238px 44px;
}

#ctaArr_2x {
	left:118px;
	top:554px;
	width:12px;
	height:9px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:12px 9px;
}

#cta_2x {
	left:25px;
	top:550px;
	width:86px;
	height:12px;
	background-image:url(../img/cta_2x.png);
	background-size:86px 12px;
}

#legal_2x {
	left:26px;
	top:574px;
	width:227px;
	height:10px;
	background-image:url(../img/legal_2x.png);
	background-size:227px 10px;
}

.fpo {
	opacity: .5;
}
/* 
#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 600px;
} */

#bg1_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(../img/bg1_2x.jpg);
	background-size:300px 600px;
}